{% extends "encyclopedia/layout.html" %}

{% block title %}
    Wiki- edit: {{ title }}
{% endblock %}

{% block body %}

<div class="">
  <h1>Edit: </h1>
  <br><br>
  <form class="" action="{% url 'edit' title %}" method="POST">
    {% csrf_token %}
    <input type="text" name="title" value="{{ title }}">
    <br><br>
    <textarea class="form-control" name="content" rows="8" cols="80">
      {{ content|safe}}
    </textarea>

    <br>
    <input class="save btn btn-info" type="submit" name="" value="Save">
  </form>




</div>

{% endblock %}
